@model InformacioniSistemTeretane.Models.Takmicar

@{
    ViewData["Title"] = "Novi takmičar";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <label asp-for="KlijentId"></label>
        <select asp-for="KlijentId" class="form-control" asp-items="ViewBag.KlijentId"></select>
        <span asp-validation-for="KlijentId" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="DisciplinaId"></label>
        <select asp-for="DisciplinaId" class="form-control" asp-items="ViewBag.DisciplinaId"></select>
        <span asp-validation-for="DisciplinaId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Rezultat" class="form-label"></label>
        <input asp-for="Rezultat" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Rezultat" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Pozicija" class="form-label"></label>
        <input asp-for="Pozicija" type="number" class="form-control" />
        <span asp-validation-for="Pozicija" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Spremi</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Nazad</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
