@model InformacioniSistemTeretane.Models.Igraonica

<h1>Uredi igraonicu</h1>
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Naziv"></label>
        <input asp-for="Naziv" class="form-control" />
        <span asp-validation-for="Naziv" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Kapacitet"></label>
        <input asp-for="Kapacitet" type="number" class="form-control" />
        <span asp-validation-for="Kapacitet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LokacijaId"></label>
        <select asp-for="LokacijaId" class="form-control" asp-items="ViewBag.LokacijaId"></select>
        <span asp-validation-for="LokacijaId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Spremi</button>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}