@model InformacioniSistemTeretane.Models.Trener

@{
    ViewData["Title"] = "Novi trener";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <label asp-for="ZaposlenikId"></label>
        <select asp-for="ZaposlenikId" class="form-control" asp-items="ViewBag.ZaposlenikId"></select>
        <span asp-validation-for="ZaposlenikId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Spremi</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Nazad</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
