@model InformacioniSistemTeretane.Models.IgraonicaPonuda

@{
    ViewData["Title"] = "Uredi ponudu igraonice";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group mb-3">
        <label asp-for="IgraonicaId"></label>
        <select asp-for="IgraonicaId" class="form-control" asp-items="ViewBag.IgraonicaId"></select>
        <span asp-validation-for="IgraonicaId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="OpisUsluge" class="form-label"></label>
        <input asp-for="OpisUsluge" class="form-control" />
        <span asp-validation-for="OpisUsluge" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Cijena" class="form-label"></label>
        <input asp-for="Cijena" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Cijena" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Trajanje" class="form-label"></label>
        <input asp-for="Trajanje" type="time" class="form-control" />
        <span asp-validation-for="Trajanje" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Spremi</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Nazad</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
